<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @rate.date %>
</p>

<p>
  <strong>Years:</strong>
  <%= @rate.years %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rate.rate %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
